* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  #title {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 32px;
    background: #d9d9d9;
    padding: 10px 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #title .action-container {
    display: flex;
    align-items: center;
  }
  
  #title .action-container #search {
    border-radius: 32px;
    border: 0;
    font-size: 20px;
    padding: 0px 32px;
    height: 100%;
    margin-right: 32px;
    width: 542px;
  }
  
  .btn-list, .btn-card {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-left: 5px;
  }
  
  .btn-list:hover, .btn-card:hover {
    cursor: pointer;
    background: #9AD284;
  }

  .fa {
    color : #808080;
  }
  
  .title-spacing {
    height: 70px;
  }

  @media (max-width:760px) {

    #title {
      position: fixed;
      width: 100%;
      z-index: 1;
      font-size: 16px;
      background: #d9d9d9;
      padding: 5px 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #title .action-container #search {
      border-radius: 32px;
      border: 0;
      font-size: 15px;
      padding: 0px 32px;
      height: 100%;
      margin-right: 20px;
      width: 230px;
    }

    .btn-list, .btn-card {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }

  }
